ul.nav
    each item in navLinks
        li.nav-item
            //- For testing object as parameter
            a.nav-link(href=item.url, class={active: item.title === title}, onclick=`handleClickNavLink(${JSON.stringify(title)})`)= item.title

script. 
    function handleClickNavLink(title) {
        //- testing string 
        //- console.log(`#{testInScriptTag}`)
        //- alert(`#{testInScriptTag}`)
        
        //- tesing object 
        //- const { endDate } = !{JSON.stringify(testObjectScriptTag)};
        //- alert(endDate)
    }